.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
version_info.xlsx
assets/
JSON
acknowledgments.xlsx
x
galacticPubs.Rproj
tmp.RData
meta/
code/
assembled-lesson-materials/
inst/shiny/gp_editor/www/
published
!*/rsrc/
delete
.httr-oauth
.Renviron
